{
  "extends": "esnext",
  "env": {
    "node": true
  },
  "rules": {
    "import/no-commonjs": "off",
    "import/no-nodejs-modules": "off",
    "arrow-body-style": "off",
    "semi": ["error", "always"]
  }
}
