{
  "extends": ["eslint-config-airbnb-base", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": "2020"
  },
  "rules": {
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "no-use-before-define": 0,
    "arrow-body-style": 0,
    "no-continue": 0,
    "no-restricted-syntax": 0,
    "prefer-destructuring": 0
  }
}
